@model ValidationAttributes.Models.Student;
@{
    ViewData["Title"] = "Home Page";
}
 
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form asp-controller="Home" asp-action="index" method="Post">
                <input placeholder="Enter Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
                <br/>
                <input placeholder="Enter Email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
                <br />
                <input placeholder="Enter Age" asp-for="Age" class="form-control" />
                <span asp-validation-for="Age"></span>
                <br />
                <input type="submit" value="Submit" class="btn btn-outline-primary"/>
            </form>
        </div>
    </div>
</div>


